/* global */

/* main */
.main {
  height: 90vh;
  width: 51vw;
  margin: 0 auto;
  /* border: 5px dotted black; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(auto, 6vh);
  column-gap: 1vw;
  row-gap: 0.2vh;
}

/* left container */
.left {
  /* border: 4px solid black; */
  display: flex;
  flex-direction: column;
}

.leftChild {
  border-radius: 5px;
  margin-bottom: 1vh;
}

.leftChild img {
  float: left;
  width: 2vw;
  height: 4vh;
  border-radius: 5px;
}
.leftChild h4 {
  margin: 0;
  font-weight: 400;
  display: inline-block;
  margin-top: 1vh;
  margin-left: 0.3vw;
}

/* right container */
.right {
  /* border: 4px solid black; */
  display: flex;
  flex-direction: column;
}
.rightChild {
  align-self: stretch;
  grid-column: 2/3;
  border-radius: 5px;
}
.rightChild img {
  border-radius: 5px;
  width: 34vw;
  height: 85vh;
}
.rightChild h4 {
  margin: 0px;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
}
